/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

td.center {
vertical-align: middle;
}

body{
	background-color: black;
	background-image:url(img/background.png);
	background-position: top center;
	background-repeat: no-repeat;
	font-family: Arial;
}



/*COULEURS A CHANGER VERT : #61C537*/

h4{
	text-align : center;
	color : white;
	font-size : 14pt;
	padding-top:5px;
	margin-bottom:-5px;
}

h2.titre{
	color: #61C537;
	padding-bottom: 5px;
	border-width:1px;
	border-bottom: dotted;
	border-left: dotted;
	border-bottom-left-radius: 10px;
	width: 350px;
	margin-bottom: 10px;
	margin-top: 15px;
	border-color:gray;
}

h2.titre2{
	margin:auto;
	color: #61C537;
	padding-bottom: 5px;
	border-width:1px;
	border-bottom: dotted;
	border-left: dotted;
	border-bottom-left-radius: 10px;
	width: 650px;
	margin-bottom: 10px;
	margin-top: 15px;
	border-color:gray;
}

h2.titre3{
	margin:auto;
	color: #61C537;
	padding-bottom: 5px;
	border-width:1px;
	border-bottom: dotted;
	border-left: dotted;
	border-bottom-left-radius: 10px;
	width: 350px;
	margin-bottom: 10px;
	margin-top: 15px;
	border-color:gray;
}

/*-----------------------------------------------------------------------------------------
-------------------------------------// DIV récurrentes //----------------------------------
-------------------------------------------------------------------------------------------*/
#fk{
height: 10px;
}

#contain{
	width: 1000px;
	margin:0 auto 0 auto;
	margin-top: -10px;
}

#transp{
	width: 1000px;
	height: 90px;
}

#header{
	position:absolute;
	width: 462px;
	height: 103px;
	margin:auto;
}

#menu{
	width: 1000px;
	height: 50px;
	background-image:url(img/plasma_menu.png);
	margin-bottom:15px
}

#bas{
	width: 1000px;
	height: 100px;
}

#url{
	width: 500px;
	float: left;
}

#texte_bas{
	width: 500px;
	float: right;
}

#texte_merci{
  width: 500px;
  float: right;
}


/*-----------------------------------------------------------------------------------------
-------------------------------------// DIV contenu //--------------------------------------
-------------------------------------------------------------------------------------------*/

/*Pour page index*/
#main{
	width: 1000px;
	height: 220px;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    behavior: url(PIE-1.0/PIE.htc);
	border-radius: 10px;
	background-color:#2f2d2d;
	margin-top: 20px;
}

/*Pour pages contenu*/
#main2{
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    behavior: url(PIE-1.0/PIE.htc);
	border-radius: 10px;
	width: 1000px;
	margin-top: 20px;
	background-color:#2f2d2d;
}

/*Pour page flash*/
#main3{
	width: 810px;
	height: 610px;
	margin-top: 20px;
	margin : auto;
	background-color:#2f2d2d;
}

#flash{
	width: 800px;
	height: 600px;
	margin: auto;
	padding-top: 5px;
}

#actualites{
	width: 333px;
	float: left;
	margin-top: 20px;
	position:relative;
}

#groupe{
	width: 333px;
	float: right;
	margin-top: 20px;
	position:relative;
}

#focus{
	width: 333px;
	float: right;
	margin-top: 20px;
	position:relative;
}

#img_actualites{
	width: 141px;
	height: 47px;
	background-image:url(img/plasma_actualites.png);
	position: absolute;
	margin-top: -30px;
}

#img_focus{
	width: 141px;
	height: 47px;
	background-image:url(img/plasma_focus.png);
	position: absolute;
	margin-top: -30px;
}

#img_groupe{
	width: 141px;
	height: 47px;
	background-image:url(img/plasma_equipe.png);
	position: absolute;
	margin-top: -30px;
}

#visite{
	width: 1000px;
	height: 340px;
	background-image: url(img/plasma_visite.png);
	margin-top: 15px;
}

#visite2{
	width: 1000px;
	height: 170px;
	background-image: url(img/plasma_visite2.png);
	margin-top: 15px;
}

#slideshow{
	width: 1000px;
	height: 165px;
	margin-top: 15px;
	background-image: url(img/plasma_slideshow.png);
}

#separateurbas{
	width: 1000px;
}

#footer{
	width: 1000px;
	height: 6px;
	background-repeat:no-repeat;
	background-image: url(img/plasma_separate_footer.png);
}

#texte_focus{
	width: 330px;
	float: left;
}

#texte_actu_div{
	width: 320px;
	height: 130px;
	float: left;
	margin-left: 10px;
	padding-right: -15px;
	margin-right: 15px;
	font-size: 11pt;
	font-family: Arial;
	color: white;
	margin-top:20px;
}



#texte_groupe{
	width: 203px;
	float: left;
}

#apercu_photo{
	width: 120px;
	height:150px;
	float: right;
	margin-top: 20px;
	margin-right: 10px;
}

#ensavoirplus{
	position: absolute;
	margin-top: 180px;
	margin-left:200px;
	float: right;
}



/*-----------------------------------------------------------------------------------------
---------------------------------------// Texte //-----------------------------------------
-------------------------------------------------------------------------------------------*/
span.domaines{
	color:red;
}

p.menu{
	color: white;
}

p.texte_main{
	color: white;
	font-size: 11pt;
	margin-top:20px;
	padding-left: 7px;
	padding-right: 7px;
}

p.texte_actu{
	color: white;
	font-size: 11pt;
	margin-top:20px;
	padding-left: 7px;
	padding-right: 7px;}

h1{
	padding-left:10px;
	padding-top:10px;
	text-align:center;
	color: gray;
}

h2{
	padding-left:10px;
	padding-top:10px;
	text-align:center;
	color: gray;
	font-size: 16pt;
}

h3{
	padding-left:10px;
	padding-top:10px;
	text-align:center;
	color: gray;
	font-size: 13pt;
}

p.contain{
	padding-left:10px;
	padding-right:10px;
	padding-bottom:10px;
	color: white;
	font-size: 12pt;
}

p.these_auteur{
  padding-left:10px;
  padding-right:10px;
  padding-bottom:10px;
  color: white;
  font-size: 14pt;
  font-weight:bold;
}

p.these_date{
  padding-left:10px;
  padding-right:10px;
  padding-bottom:10px;
  color: white;
  font-size: 10pt;
  font-style:italic;
}


p.collaboration{
	color: white;
	font-size: 12pt;
}

p.texte_bas{
	color: white;
	font-size: 9pt;
	padding-top: 20px;
	padding-right: 30px;
}

p.texte_merci{
  color: white;
  font-size: 9pt;
  padding-top: 5px;
  padding-right: 30px;
}

li.contain {
	color: white;
	font-size: 11pt;
	margin-top:20px;
	padding-left: 7px;
	padding-right: 7px;
}

li.publication {
  padding-left:10px;
  padding-right:10px;
  padding-bottom:10px;
  color: white;
  font-size: 12pt;
}

li.publication i {
  font-style: italic;
}

li.publication u {
  text-decoration:underline;
}

li.publication sub {
  vertical-align: sub;
}

li.publication sup {
  vertical-align: super;
}

li.publication b {
  font-weight: bold;
}
/*-----------------------------------------------------------------------------------------
-------------------------------------// liens //-------------------------------------------
-------------------------------------------------------------------------------------------*/

a.menu:link 
{
	 color:#FFFFFF; 
	 text-decoration:none;
	 font-weight: normal; 
}

a{text-decoration:none;border:none;}

a.url_ext:link{
	color: white;
	font-size: 9pt;
	text-decoration: none;
} 

a.url_ext:hover{
	color:#3fb20f;
}

a.url:hover{
	color:#3fb20f;
}
a.url:link {
	color: white;
     }
a:visited {
    color: white; }

ul#firstmenu li {
	display:inline;
	font-size:11pt;
	margin-bottom:13px;
}
ul#firstmenu a
{
	padding:8px 8px 8px 8px;
	text-decoration:none;
	font-weight:bold;
	color:white;
}

ul#firstmenu a:hover, ul#firstmenu a.current, ul#firstmenu a:active{
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    behavior: url(PIE-1.0/PIE.htc);
	border-radius: 10px;
	background-image:url("img/menu.jpg");
	color:#3fb20f;
}

ul#firstmenu #actif a{
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    behavior: url(PIE-1.0/PIE.htc);
	border-radius: 10px;
	background-image:url("img/menu.jpg");
}

ul#firstmenu{
	padding-top:13px;
	margin-bottom:13px;
}

li.separate{
	display:inline;
	text-decoration:none;
	color: white;
	margin-top:13px;
	margin-left:10px;
	margin-right:10px;
}

table.collaboration{
	margin-left: 10px;
	margin-right: 10px;
}

table.url{
	padding-top: 20px;
	padding-left:30px;
}

table.actu{
	background-color: blue;
}

table.rejoindre{
	color:white;
	margin:auto;
	border-width:2px;
	border-style:groove;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	behavior: url(PIE-1.0/PIE.htc);
	border-radius: 3px;

}
/*-----------------------------------------------------------------------------------------
-------------------------------------// page Groupe //--------------------------------------
-------------------------------------------------------------------------------------------*/
#carte_presentation{
	margin:auto;
	width:840px;
	height:340px;
	background-image:url(img/plasma_carte.png);
	background-repeat:no-repeat;
	padding-top:30px;
}



ul#Photos li{
	display:inline;
	margin-bottom:13px;
}


ul#Photos a{
	padding:8px 8px 8px 8px;
	text-decoration:none;
	font-weight:bold;
	color:white;
}

ul#Photos a:hover, ul#Photos a.current {
transition: transform 0.25s ease-in-out;
-moz-transition: -moz-transform 0.25s ease-in-out;
-o-transition: -o-transform 0.25s ease-in-out;
-webkit-transition: -webkit-transform 0.25s ease-in-out;
transform: scale(0.90); 		/*--- On rÃ©duit l'image Ã  75% ---*/
-moz-transform: scale(0.90);
-o-transform: scale(0.90);
-webkit-transform: scale(0.90);
}

/* Photos hover 
transition: transform 0.25s ease-in-out;
-moz-transition: -moz-transform 0.25s ease-in-out;
-o-transition: -o-transform 0.25s ease-in-out;
-webkit-transition: -webkit-transform 0.25s ease-in-out;
transform: scale(0.75); 		/--- On rÃ©duit l'image Ã  75% ---/
-moz-transform: scale(0.75);
-o-transform: scale(0.75);
-webkit-transform: scale(0.75);
*/

ul#Photos{
	text-align: center;
	padding-top:13px;
	padding-bottom: 13px;
}

#CarteVisite{
	padding: 20px;
}

/*-----------------------------------------------------------------------------------------
-------------------------------------// imgs //--------------------------------------------
-------------------------------------------------------------------------------------------*/

img.header{
	border:none;
}

img.play{
	margin-top:13%;
	margin-left:40%;
	width:150px;
	height:150px;
	border:none;
  text-align: center;
	}
	
img.play2{
	margin-top:8%;
	margin-left:45%;
	width:80px;
	height:80px;
	border:none;
}

img.ico_theme{
	width: 75px;
	height: 75px;
	float:left;
	margin: 0 6px 6px 0;
}

img.ico_theme2{
	width: 50px;
	height: 50px;
	padding-left: 10px;
	float:left;
	margin: 0 6px 6px 0;
}

img.id_mini{
	width: 50px;
	height: 63px;
}

img.id_apercu{
	width: 120px;
	height: 150px;
}
